h1 {
  color: red;
}

.primaryBtn {
  width: 300;
}

.secondBtn {
  width: 300;
}

div {
  background-color: red;
}
div button {
  background-color: green;
}
div button:hover {
  background-color: blue;
}

/*
$body-bg: #000;
$body-bg: #000;
@import "./_another.scss";
@import "./_another.scss";
$size1: 34px;
$theme-color: #fff;
$danger: #ff4136;*/
/*$primary: #333;
$danger: #000;
$theme-colors: ( "primary": $primary, "danger": $danger );
$theme-colors: ( "primary": $primary, "danger": $danger );

@function tint-color($color, $weight){
    @return mix(white, $color, $weight);
}

@function shade-color($color, $weight){
    @return mix(black, $color, $weight);
}

.custom-element{
    color: tint-color($primary, 10%);
}
$border-radius: .25rem;
$border-width: 1px;
.element{
    border-radius: calc($border-radius - $border-width);
}
*/
