<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>


<p>Hi <#=UserName#>,</p>
<p>This is a confirmation that your password was successfully changed on <strong><#=DateValue#></strong>.</p>
<p>If you did not make this change, please contact our support immediately.</p>
<br/>
<p>Thanks,<br/>The DevSkill Inventory Team</p>