<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>


<p>Hi <#=UserName#>,</p>
<p>We received a request to reset your password for your DevSkill Inventory account.</p>
<p>To reset your password, <a href='<#=CallbackUrl#>'>click here</a>.</p>
<p>If you did not request a password reset, please ignore this email or contact support if you have concerns.</p>
<p>This link will expire in 24 hours for security reasons.</p>
<br/>
<p>Thanks,<br/>The DevSkill Inventory Team</p>