USE [AspnetB11]
GO
/****** Object:  StoredProcedure [dbo].[GetBlogPosts]    Script Date: 4/11/2025 10:53:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[GetAuthors] 
	@PageIndex int,
	@PageSize int , 
	@OrderBy nvarchar(50),
	@Name nvarchar(max) = '%',
	@Biography nvarchar(max) = '%',
	@RatingFrom int = NULL,
	@RatingTo int = NULL,
	@Total int output,
	@TotalDisplay int output
AS
BEGIN

	SET NOCOUNT ON;

	Declare @sql nvarchar(2000);
	Declare @countsql nvarchar(2000);
	Declare @paramList nvarchar(MAX); 
	Declare @countparamList nvarchar(MAX);

	-- Collecting Total
	Select @Total = count(*) from Authors;

	-- Collecting Total Display
	SET @countsql = 'select @TotalDisplay = count(*) from Authors a where 1 = 1 ';

	SET @countsql = @countsql + ' AND a.Name LIKE ''%'' + @xName + ''%''' 

	SET @countsql = @countsql + ' AND a.Biography LIKE ''%'' + @xBiography + ''%''' 

	IF @RatingFrom IS NOT NULL
	SET @countsql = @countsql + ' AND a.Rating >= @xRatingFrom'

	IF @RatingTo IS NOT NULL
	SET @countsql = @countsql + ' AND a.Rating <= @xRatingTo' 

	SELECT @countparamlist = '@xName nvarchar(max),
		@xBiography nvarchar(max),
		@xRatingFrom int,
		@xRatingTo int,
		@TotalDisplay int output' ;

	exec sp_executesql @countsql , @countparamlist ,
		@Name,
		@Biography,
		@RatingFrom,
		@RatingTo,
		@TotalDisplay = @TotalDisplay output;

	-- Collecting Data
	SET @sql = 'select * from Authors a where 1 = 1 ';

	SET @sql = @sql + ' AND a.Name LIKE ''%'' + @xName + ''%''' 

	SET @sql = @sql + ' AND a.Biography LIKE ''%'' + @xBiography + ''%''' 

	IF @RatingFrom IS NOT NULL
	SET @sql = @sql + ' AND a.Rating >= @xRatingFrom'

	IF @RatingTo IS NOT NULL
	SET @sql = @sql + ' AND a.Rating <= @xRatingTo' 

	SET @sql = @sql + ' Order by '+@OrderBy+' OFFSET @PageSize * (@PageIndex - 1) 
	ROWS FETCH NEXT @PageSize ROWS ONLY';

	SELECT @paramlist = '@xName nvarchar(max),
		@xBiography nvarchar(max),
		@xRatingFrom int,
		@xRatingTo int,
		@PageIndex int,
		@PageSize int' ;

	exec sp_executesql @sql , @paramlist ,
		@Name,
		@Biography,
		@RatingFrom,
		@RatingTo,
		@PageIndex,
		@PageSize;

	print @sql;
	print @countsql;

END
